html, body {
	margin  : 0;
	padding : 0;
	height  : 100vh;
}
* {
	box-sizing : border-box;
}
body {
	display        : flex;
	flex-direction : row;
}

#sass, #css {
	display        : flex;
	flex-direction : column;
	flex-grow      : 1;
	padding        : 0 1rem 1rem 1rem;
}
#sass {
	background-color : rgba(255, 0, 0, .3);
}
#css {
	background-color : rgba(0, 255, 0, .3);
}

label {
	font-family               : "Arial Black", serif;
	font-size                 : 2rem;
	color                     : white;


	-webkit-text-fill-color   : white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width : 1px;
	-webkit-text-stroke-color : black;
}
textarea {
	display          : flex;
	flex-grow        : 1;
	border           : 3px solid dodgerblue;
	border-radius    : .3rem;
	resize           : none;
	background-color : rgba(0, 0, 0, .5);
	color            : white;
	cursor           : pointer;
	padding          : .1rem .3rem .1rem 2rem;
}
textarea:focus {
	cursor : text;
}
textarea:focus, textarea:hover {
	border  : 3px solid royalblue;
	outline : none;
}
